<ion-header>
    <ion-toolbar style=" background-color: #086b66; color: rgb(188, 196, 196); align-content: center; ">          
      <ion-title text-center style="font-weight: bold;">
        Nature Team
      </ion-title>
    </ion-toolbar>
  </ion-header> 

<ion-content>
  

  <ion-list >

    <ion-item button  (click)="goToBird()">
        <ion-ripple-effect type='unbounded'></ion-ripple-effect>
        <img slot="start" src="../assets/img/bird.png" style="height: 100%; width: 15%; padding: 1%;">
        <ion-label style=" font-weight: bold; ">Bird</ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
      
    </ion-item>
    <ion-item button  (click)="goToButterfly()" >
        <ion-ripple-effect type='unbounded'></ion-ripple-effect>
        <img slot="start" src="../assets/img/butter.png" style="height: 100%; width: 15%; padding: 1%;">
        <ion-label style=" font-weight: bold; ">Butterfly / Moth</ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item button  (click)="goToDragonfly()">
        <ion-ripple-effect type='unbounded'></ion-ripple-effect>
        <img slot="start" src="../assets/img/dragon.png" style="height: 100%; width: 15%; padding: 1%;">
        <ion-label style=" font-weight: bold; ">Dragonfly / Damselfly</ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item button  (click)="goToPlant()" >
        <ion-ripple-effect type='unbounded'></ion-ripple-effect>
        <img slot="start" src="../assets/img/plant.png" style="height: 100%; width: 15%; padding: 1%;">
        <ion-label style=" font-weight: bold; ">Plant</ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>

  </ion-list>




</ion-content>








<!-- <ion-card style="margin: 2%; margin-bottom: 2%">
    <ion-item style="font-size: 120%;"  >
      <img class="imgs" src="../assets/img/bird.png" style="height: 100%; width: 20%; border: 1px solid black; border-radius: 50%; padding: 1%;">
      <ion-label style=" font-weight: bold; margin-left: 7%">Bird</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="margin: 2%;  margin-bottom: 2%">
    <ion-item style="font-size: 120%;">
      <img src="../assets/img/butter.png" style=" height: 100%; width: 20%; padding: 1%;  border: 1px solid black; border-radius: 50%;">
      <ion-label style=" font-weight: bold;margin-left: 7%">Butterfly / Moth</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="margin: 2%; margin-bottom: 2% ">
    <ion-item style="font-size: 120%; height: 100%;">
      <img src="../assets/img/dragon.png" style="height: 100%; width: 20%; border: 1px solid black;padding: 1%; border-radius: 50%;">
      <ion-label style=" font-weight: bold; margin-left: 7%">Dragonfly / Damselfly</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="margin: 2%; margin-bottom: 2% ">
    <ion-item style="font-size: 120%;">
      <img src="../assets/img/plant.png" style="height: 100%; width: 20%; border: 1px solid black;padding: 1%;border-radius: 50%;">
      <ion-label style=" font-weight: bold; margin-left: 7%">Plant</ion-label>
    </ion-item>
  </ion-card> -->
