// .welcome-card ion-img {
//   max-height: 35vh;
//   overflow: hidden;
// }
ion-header{
  --ion-color:rgb(255, 255, 255);
  --ion-background-color:#086b66;
  --ion-content-align: center;
}

ion-content{

  --ion-background-color:rgb(255, 255, 255);
}
ion-card{

  --ion-background-color:rgb(8, 236, 217);
}